# Project-specific
**/private/*
!**/private/*.gitkeep
template-builder/isos

# Terraform and related
**/.terraform*
**/.terraform.lock.hcl
**/terraform.tfstate*

# Packer and related
**/packer_cache/
**/crash.log
**/output-*/
**/*.box

# Visual Studio Code and related
.vscode/*
.history/
*.code-workspace
